@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(213, 211, 211);
    color: black;
    width: 434px;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    font-size: 67px;
    height: 100vh;
}

.sidebar {
    padding: 45px;
}

.sidebar nav li {
    list-style-type: none;
    font-size: 37px;
    padding: 40px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 85vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: rgb(214, 154, 154); */
    height: 75vh;
    width: 65vw;
    margin: 146px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.devPic img {
    width: 752px;
    height: 75vh;
}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto Mono", monospace;
}

.hello {
    font-size: 90px;
}

.name {
    font-size: 75px;
    font-weight: bold;
}

.about {
    font-size: 55px;
}

.moreabout {
    font-size: 32px;
    font-family: "Fira Sans", sans-serif;
    margin-top: 26px;
}

.buttons {
    margin-top: 34px;
}

.button {
    font-size: 39px;
    margin: 30 38px;
    padding: 3px;
}

.buttons button {
    padding: 11px 28px;
    border-radius: 42px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 28px;
    margin: 8px 1px;
    cursor: pointer;
    text-align: center;
    width: 269px;
    height: 68px;
}

.btn-sm {
    font-size: 25px;
    padding: 4px 1px;
    margin: 14px 6px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 18px;
    margin: 8px 1px;
    cursor: pointer;
    text-align: center;
    width: 179px;
    height: 43px;
    border-radius: 62px;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}


/* Contact Form CSS*/

.contactform h1 {
    font-family: "Fira Sans", sans-serif;
    text-align: center;
}

.contactform {
    padding: 0 48px;
    padding-top: 144px;
    font-family: "Roboto Mono", monospace;
}

.contactform form div {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

#emailHelp {
    font-size: 34px;
    color: midnightblue;
    margin: 5px;
}

.contactform h1 {
    font-size: 56px;
    font-family: "Fira Sans", sans-serif;
}

.contactform form div input {
    width: 28vw;
    border-radius: 8px;
    margin: 18px 0;
    padding: 20px;
}

.form-label {
    font-size: 42px;
}

.form-check-label {
    font-size: 40px;
    color: midnightblue;
    margin: 5px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 10px;
    margin: 3px 0;
}

.blogItem {
    margin: 20px;
    font-family: "Fira Sans", sans-serif;
}

h1 {
    font-family: "Roboto Mono", monospace;
    margin: 23px;
    font-size: 38px;
}

h2 {
    font-size: 29px;
}

p {
    font-family: "Fira Sans", sans-serif;
    margin: 23px;
    font-size: 22px;
}


/*INTRO PAGE CSS*/

.skill {
    width: 430px;
    height: 23px;
    background-color: red;
    padding: 4px 12px;
}

.skillcontainer {
    font-size: 38px;
    margin: 20px;
    padding: 0 3px;
}

.skillItem {
    display: flex;
    align-items: center;
}

.hundred {
    width: 265px;
    background-color: chartreuse;
    border: 2px solid black;
}

.fifty {
    width: 125px;
    background-color: blueviolet;
    border: 2px solid black;
}

.t7 {
    width: 190px;
    background-color: aqua;
    border: 2px solid black;
}